[Unit]
Description=Backend for the lpcvc server

[Service]
Environment=PYTHONUNBUFFERED=1
Environment=PRODUCTION=1
EnvironmentFile=%h/referee/referee.environment
WorkingDirectory=%h

Type=simple
StandardOutput=syslog
StandardError=syslog
ExecStart=/bin/bash -c "PATH=~/.local/bin:$PATH lpcvc r"

Restart=on-failure
RestartSec=5
